<html>
<table id="custom-food-table" class="table table-striped signed-in-view">
  <thead>
    <tr>

      <th><h4>{{mood.title}}</h4></th>
      <th><h4>{{name.food}}</h4></th>
      <th><h4>{{food.mood}}</h4></th>
    </tr>
  </thead>

{{#each foods as |food|}}
       <tr>
         <td class="mood-title">{{mood.title}}</td>
        <td class="food-name" >{{food.name}}</td>
        <td class="food-mood">{{food.mood}}</td>

        <td><button foodId="{{food.id}}" foodName="{{food.name}}" type="click" class="btn btn-danger btn delete-food-button">Delete<span class="glyphicon glyphicon-trash"></span></button></td>

      <td>
        <form id="add-food-button" foodId="{{food.id}}" foodName="{{food.name}}" moodId="{{mood.id}}">
      <fieldset>
        <input type="text" name="food[name]" placeholder="Add Food">
        <input type="submit" class="btn btn-info" name="submit" value="update">
      </fieldset>
    </form>
      </td>

      </tr>
  {{/each}}
</table>
</html>
