<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">
  <thead>
    <tr>
      <th>Id{{moods.mood.id}}</th>
      <th>Date Created{{moods.mood.timeFormat}}</th>
      <th>Mood{{moods.mood.title}}</th>
      <th>Food Item{{moods.mood.food}}</th>
    </tr>
  </thead>

<!-- add button for food -->

<!-- title = mood -->

{{#each moods as |mood|}}
       <tr>
         <td class="mood-id">{{mood.id}}</td>
         <td class="mood-time">{{timeFormat mood.created_at "MMMM Do, YYYY"}}</td>
        <td class="mood-title">{{mood.title}}</td>
        <td><button moodTitle="{{mood.title}}" type="click" class="btn btn-danger delete-mood-button">Delete</button></td>
      <td>
        <form class="update-mood-button" moodTitle="{{mood.title}}">
      <fieldset>
        <input type="text" name="mood[title]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="update">
      </fieldset>
    </form>
      </td>
      </tr>
  {{/each}}
</table>
</html>
