<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">
  <thead>
    <tr>
      <th><h4>Mood</h4></th>
      <th><h4>Food Item</h4></th>
    </tr>
  </thead>

<!-- title = mood -->

{{#each moods as |mood|}}
       <tr>
        <td class="mood-title" >{{mood.title}}</td>
        <td class="mood-food">{{mood.food}}</td>
        <td><button moodId="{{mood.id}}" moodTitle="{{mood.title}}" type="click" class="btn btn-danger btn delete-mood-button">Delete<span class="glyphicon glyphicon-trash"></span></button></td>
      <td>
        <form id="update-mood-button" moodId="{{mood.id}}" moodTitle="{{mood.title}}">
      <fieldset>
        <input type="text" name="mood[title]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="update">
      </fieldset>
    </form>
      </td>
      </tr>
  {{/each}}
</table>
</html>
