<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">

<!-- title = mood -->

{{#each moods as |mood|}}
      <tr>
        <td>{{mood.title}}</td>
        <td>{{mood.food}}</td>
        <td><button moodId="{{mood.id}}" type="click" class="btn btn-info view-mood-button">My Custom Moods</button></td>
        <td><button moodId="{{mood.id}}" type="click" class="btn btn-danger delete-mood-button">Delete</button></td>
      <td>
        <form class="update-mood-button" mod="{{mood.id}}">
      <fieldset>
        <input type="text" name="mood[food]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="Update Mood">
      </fieldset>
    </form>
      </td>
      <td>
        <form class="add-mood" moodId="{{mood.id}}">
      <fieldset>
        <input type="text" name="mood[food]" placeholder="Add Custom Mood">
        <input type="submit" class="btn btn-success" name="submit" value="Add Custom Mood">
      </fieldset>
    </form>
      </td>
      </tr>
  {{/each}}
</table>
</html>
