<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">
  <thead>
    <tr>
      <!-- <th>Id</th> -->
      <!-- <th>Date Created</th> -->
      <th><h4>Mood</h4></th>
      <!-- <th><h4>Food Item</h4></th> -->
    </tr>
  </thead>

<!-- add button for food -->

<!-- title = mood -->

{{#each moods as |mood|}}
       <tr>
         <!-- <td class="moodId">{{mood.id}}</td> -->
         <!-- <td class="mood-time">{{mood.created_at}}</td> -->
         <!-- <td class="mood-time">{{timeFormat mood.created_at "MMMM Do, YYYY"}}</td> -->
        <td class="mood-emotion" >{{mood.emotion}}</td>
        <td class="mood-food">{{mood.food}}</td>
        <td><button moodId="{{mood.id}}" moodEmotion="{{mood.emotion}}" type="click" class="btn btn-danger btn delete-mood-button">Delete<span class="glyphicon glyphicon-trash"></span></button></td>
      <td>
        <form id="update-mood-button" moodId="{{mood.id}}" moodEmotion="{{mood.emotion}}">
      <fieldset>
        <input type="text" name="mood[emotion]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="update">
      </fieldset>
    </form>
    <td>
      <form id="add-food-button" moodId="{{mood.id}}" foodId="{{food.id}}">
    <fieldset>
      <input type="text" name="food[food_item]" placeholder="Add Food">
      <input type="submit" class="btn btn-success" name="submit" value="Add Food">
    </fieldset>
  </form>
    </td>
    <td><button moodId="{{mood.id}}" type="click" class="btn btn-info btn view-food-list-button">View Food List</button></td>
      </td>
      </tr>
  {{/each}}
</table>
</html>
