<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">

<!-- title = mood -->

{{#each titles as |title|}}
      <tr>
        <td>{{title.id}}</td>
        <td>{{title.food}}</td>
        <td><button titleId="{{title.id}}" type="click" class="btn btn-info view-mood-button">My Custom Moods</button></td>
        <td><button titleId="{{title.id}}" type="click" class="btn btn-danger delete-mood-button">Delete</button></td>
      <td>
        <form class="update-mood-button" titleId="{{title.id}}">
      <fieldset>
        <input type="text" name="mood[title]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="">
      </fieldset>
    </form>
      </td>
      <td>
        <form class="add-mood" titleId="{{title.id}}">
      <fieldset>
        <input type="text" name="mood[title]" placeholder="Add Custom Mood">
        <input type="submit" class="btn btn-success" name="submit" value="">
      </fieldset>
    </form>
  </td>
      </tr>
  {{/each}}
</table>
</html>
