<!-- {{mood.title}}
{{mood.food}}

{{title.id}} -->

<html>
<table id="custom-mood-table" class="table table-striped signed-in-view">
  {{mood.title}}
  {{mood.food}}

<!-- title = mood -->

{{#each moods as |mood|}}
       <tr>
        <td>{{mood.title}}</td>
        <td>{{mood.food}}</td>
        <td><button moodTitle="{{mood.title}}" type="click" class="btn btn-danger delete-mood-button">Delete</button></td>
      <td>
        <form class="update-mood-button" moodTitle="{{mood.title}}">
      <fieldset>
        <input type="text" name="mood[title]" placeholder="Edit Mood">
        <input type="submit" class="btn btn-info" name="submit" value="update">
      </fieldset>
    </form>
      </td>
      </tr>
  {{/each}}
</table>
</html>
